<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit case</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        {% if case_id %}
            <form action="{% url 'case-update' case_id %}" method="post">
        {% else %}
            <form action="" method="post">
        {% endif %}
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}

                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Update">
            </form>

        </div>

    </div>
</div>